<ion-header>
  <ion-toolbar>
    <ion-title>Crear Operación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Tipo de operación</ion-label>
    <ion-segment [(ngModel)]="tipoOperacion" (ionChange)="calcularTotal()">
      <ion-segment-button value="compra">Compra</ion-segment-button>
      <ion-segment-button value="venta">Venta</ion-segment-button>
    </ion-segment>
  </ion-item>

  <ion-item>
    <ion-label>Dólar</ion-label>
    <ion-select [(ngModel)]="dolarSeleccionado" (ionChange)="calcularTotal()">
      <ion-select-option *ngFor="let d of cotizaciones" [value]="d">
        {{ d.nombre }} (Compra: {{ d.compra }} / Venta: {{ d.venta }})
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Monto USD</ion-label>
    <ion-input type="number" [(ngModel)]="monto" (ionInput)="calcularTotal()"></ion-input>
  </ion-item>

  <ion-item *ngIf="totalPesos">
    <ion-label>Total en pesos: ${{ totalPesos | number:'1.2-2' }}</ion-label>
  </ion-item>

  <ion-button expand="full" (click)="crearOperacion()">Confirmar</ion-button>
  
</ion-content>


