<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onRegister()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="user.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="user.apellido" name="apellido" required></ion-input>
    </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha de Nacimiento</ion-label>
        <ion-input 
          type="text" 
          placeholder="DD/MM/YYYY"
          [(ngModel)]="user.fechaNacimiento" 
          name="fechaNacimiento" 
          required>
        </ion-input>
      </ion-item>


    <ion-item>
      <ion-label position="floating">DNI</ion-label>
      <ion-input [(ngModel)]="user.dni" name="dni" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="user.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top">Registrar</ion-button>
    <ion-button expand="full" fill="clear" routerLink="/login">Ya tengo cuenta</ion-button>
  </form>
</ion-content>

